
.account-content {
  min-height: calc(100vh - 200px);
  width: 100vw;
  background-color: #F0F2F5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.title-container {
  display: flex;
  flex-direction: column;
}

.title-container h1 {
  color: #21d939;
  margin: 0;
  font-size: 48px;
  font-family: Tahoma, "Segoe UI", sans-serif;
}

.title-container p {
  font-size: 24px;
  max-width: 500px;
}

.create-new-container {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px;
  margin: 10px;
}

.create-new-container a {
  margin: 0;
  width: 200px;
  padding: 10px;
}

