.signin-content {
  flex-direction: column;
}

.already-have {
  display: flex;
  justify-content: center;
  color: #1877F2;
}

.name-info {
  display: flex;
}

#firstname {
  margin-right: 5px;
}

.name-info-label {
  display: flex;
}